[run]
include =
    */{{cookiecutter.project_name}}/*.py
    */{{cookiecutter.project_name}}/*/*.py

omit =
    bootstrap.py
    */docs*
    */tests*
    */examples*
    */lib_pypy*
    */lib/python*
    */lib-python*
    */site-packages*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    def parse_args
