[buildout]
newest = false
parts = eggs node sh wsgi
develop = .
eggs =
    {{cookiecutter.project_name}}[test]

[eggs]
recipe = zc.recipe.egg
eggs =
    ${buildout:eggs}
    DjangoDevKit
    flake8

[node]
recipe = gp.recipe.node
npms =
    bower
    gulp

[sh]
recipe = collective.recipe.cmd
on_install = true
cmds =
    bin/npm install

[wsgi]
recipe = mk.recipe.modwsgi
eggs = ${buildout:eggs}
wsgi-module = {{cookiecutter.project_name}}.wsgi
